.blog-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

.blog-container article {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 1rem;
    color: #666;
}

.card hr {
    margin-top: 20px;
    border: none;
    border-top: 1px solid #eee;
}

.search-containner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.search-input {
    width: 100%;
    max-width: 400px; /* Limit the width of the input */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-input::placeholder {
    color: #aaa; /* Light grey placeholder text */
}

.search-input:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a blue glow */
}
