body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.comtainner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #343a40;
  text-align: center;
}

.comtainner img {
  width: 550px;
  height: 500px;
}
